h1 {
  color: #3374FF !important;
  font-weight: bold;
}

h2 {
  color: #3374FF !important;
}

th {
  background-color: #3374FF !important;
  font-size: 18px !important;
  font-weight: bold;
}

tr:nth-child(2n+1) {
  background-color: #F0F3FA;
}

td {
  font-size: 18px !important;
}

.md-header, .md-tabs {
  background-color: #3374FF !important;
}

/*# sourceMappingURL=extra.css.map */
