
$primary:  #3374FF ;
$secondary:  #F0F3FA ;

h1 {
  color: $primary !important;
  font-weight: bold;

}
h2 {
  color: $primary !important;
}

th{
  background-color:  $primary !important;
  font-size: 18px !important;
  font-weight: bold;
}
tr:nth-child(2n+1){
  background-color: $secondary;
}
td{
font-size: 18px !important;
}
.md-header , .md-tabs{
    background-color:  $primary !important;

}

